body{
    padding-bottom: initial;
}

.quizBox{
    margin-left: 5%;
    padding-top: 10%;
    text-align: left;
}

.quizBox input{
    border: 2px solid #24FF00;
    width: 70%;
}

.quizBox textarea{
    border: 2px solid #24FF00;
    max-width: 70%;
}

.submit{
    position: relative;
    margin-top: 10%;
    
    font-size: 7vw;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    background-color: #24FF00;
}

.needsYou{
    position: relative;
    width: 80%;
    margin-top: 10%;
}