@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: black;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color : white;
    text-align: center;
    padding-bottom: 140%;
}

/* общее */
a{
    text-decoration: none;
    color: #000000;
}


.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    left: 10%;
}

.header a{
    width : 228px;
    height : 49px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainImages{
    display: flex;
    justify-content: center;
    align-items: center;  
    position: absolute;
    top: 45%;             
    left: 50%;            
    transform: translate(-50%, -50%) scale(0.89);
    margin-left: auto;
    margin-right: auto;
    gap: 12.6%;
}

.containerDesc{
    display: flex;
    justify-content: center;
    align-items: center; 
    border: #24FF00;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.desc{
    font-size: 1.6vw; 
    text-align: left;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
}

.btng {
    background-color: #24FF00;
    border: #000000;
    border-width: 1px;
    border-style: solid;
}

/* уникальное */



.btnw {
    background-color: white;
    border: #000000;
    border-width: 1px;
    border-style: solid; 
}

.greenHUD{
    position: absolute;
    top: 52%;             
    left: 50%;            
    transform: translate(-50%, -50%) scale(0.9);
}


.joinTeam{
    position: absolute;
    font-size: 1.8vw;
    top : 75%;
    right: 10%;
    height: 10%;
    width: 20%;
    background-color: #24FF00;
}

.socNetworks{
    position: absolute;
    top: 89%;             
    right : 10%           
}

.imageLower{
    width: 40%;
    position: absolute;
    top : 110%;
    left : 10%;
}

.imageLower2{
    width: 35%;
    position: absolute;
    top : 170%;
    right : 10%;
}

.containerDescUp{
    top : 70%;
    left: 10%;
    width: 52%;
}

.containerDescDown1{
    top : 110%;
    right: 10%;
    width: 35%;
    font-weight: 400;
}

.containerDescDown2{
    top : 170%;
    left: 10%;
    width: 40%;
    font-weight: 400;
}