@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* upd: пытаюсь исправить это кошмар день 3 */
body{
    background-color: black;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    font-size: 2.5vh;
    color : white;
    text-align: left;
    padding-bottom: 2%;
    margin: 0;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

/* общее */
a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    opacity: 0.5;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    left: 10%;
}

.header a{
    width : 15vw;
    height : 7vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainImages{
    display: flex;
    justify-content: center;
    transform: scale(0.89);
    gap : 8%;
}

p{
    border: #24FF00;
    border-width: 3px;
    border-style: solid;
    padding: 30px;
    font-weight: 400;
}


.hidden{
    visibility: hidden;
}

.excluded{
    display: none;
}

.imageAndDesc{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* kit-list сюда добавить */

.images{
    border: #24FF00;
    border-width: 2px;
    border-style: solid;
    max-width: 50%;
}

.imgRow{
    display: flex;
    justify-content:center;
    gap: 5%;
    object-fit: contain;
}

.question{
    display: flex;
    justify-content: space-between;
    border: #24FF00;
    border-width: 3px;
    border-style: solid;
    padding: 20px;
    margin-bottom: 30px;
}

input{
    border-color: #24FF00;
    width: 30%;
}

input[type="radio"]{
    width: initial;
    margin-left: 10px;
    margin-right: 20px;
}

textarea{
    border-color: #24FF00;
    width: 30%;
}

/* stalker*/

article{
    display: flex;
    justify-content: space-around;
   border: #24FF00;
    border-width: 3px;
    border-style: solid;
    padding: 30px;
    margin-bottom: 10%;
}

article p{
    border-style: hidden;
}
    
li a{
    color: #24FF00;
}

.stIm{
    padding: 4%;
}


.send{
    margin-top: 2%;    
    font-size: 1.4vw;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    background-color: #24FF00;
    width: auto;
}

.send:hover{
    opacity: 0.5;
}

.middleImage{
    opacity: 0.2;
}

.ds{
    margin-right: 5%;
}

.joinTeam{
    position: absolute;
    text-align: center;
    font-size: 1.8vw;
    top : 75%;
    right: 10%;
    height: auto;
    width: 20%;
    background-color: #24FF00;
}


.logo{
    width: 14.88%;
}

.logo:hover{
    opacity: 0.5;
}

.btng {
    background-color: #24FF00;
    border: #000000;
    border-width: 1px;
    border-style: solid;
}


.btnw {
    background-color: white;
    border: #000000;
    border-width: 1px;
    border-style: solid; 
}


.greenHUD{
    position: absolute;
    top: 25vw;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

.joinTeam{
    font-size: 1.8vw;
    background-color: #24FF00;
}


.socNetworks{
    position: absolute;
    top: 89%;             
    right : 10%           
}

.socNetworks:hover{
    opacity: 0.5;
}

.containerDescUp{
    margin-top: 4%;
    width: 60%;
    position: relative;
    font-weight: 400;
    font-size: 3vh;
}


.blur{
    opacity: 0.5;
}

#needsYou{
    width: 40%; 
    margin-left: 15%;
    object-fit: contain;
}

