body{
    padding-bottom: initial;
}

.quizBox{
    text-align: left;
    padding-right: 5%;
    display: flex;
    gap : 12%;
    max-width: fit-content;
}

input{
    border: 2px solid #24FF00;
    width: 100%;

}

textarea{
    border: 2px solid #24FF00;
    width: 280%;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 0.8vw;
}

.send{
    margin-top: 2%;
    width: 20%;
    
    font-size: 1.4vw;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    background-color: #24FF00;
}

.needsYou{
    position: absolute;
    width: 21.5%;
    top : 12vw;
    right : 10%;
}