@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* upd: да, это говнокод по сути, мне стыдно, честно. меня просто вынудили заниматься вёрсткой, это должен был делать не я, но вообще весь сайт лёг на меня */
body{
    background-color: black;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    color : white;
    text-align: center;
    padding-bottom: 10%;
}

/* общее */

.hideOnMobile{
    display: none;
}

a{
    text-decoration: none;
    color: #000000;
}


.header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.header a{
    height : 7vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainImages{
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;
    padding-top: 12%;
    transform: scale(0.89);
    margin-left: auto;
    margin-right: auto;
    gap : 7.8%;
}

.containerDesc{
    display: table-cell;
    justify-content: center;
    align-items: center; 
    border: #24FF00;
    border-width: 3px;
    border-style: solid;
    position: relative;
    height: auto;
    padding-top: 1%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.desc{
    text-align: left;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
}

.hidden{
    visibility: hidden;
}


/* уникальное */

.joinTeam{
    margin-top: 5%;
    position: relative;
    background-color: #24FF00;
    height : 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.astolfo{
    display: none;
    position: absolute;
    font-size: 1.8vw;
    top : 75%;
    right: 10%;
    height: auto;
    width: 20%;
}

.logo{
    width: 45%;
}

.btng {
    background-color: #24FF00;
    border: #000000;
    border-width: 1px;
    border-style: solid;
}

.btnw {
    background-color: white;
    border: #000000;
    border-width: 1px;
    border-style: solid; 
}

.greenHUD{

    margin-left: auto;            
    margin-right: auto;
    margin-top: -22%;
}



.socNetworks{
    position: relative;
    margin : 10%;
}

.imageLower{
    width: 80%;
    position: relative;
    padding-bottom: 10%;
}

.imageLower2{
    width: 80%;
    position: relative;
    padding: 10%;
}



.containerDescDown1{

    font-weight: 400;
}

.containerDescDown2{

    font-weight: 400;
}

.blur{
    opacity: 0.5;
}