@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* upd: да, это говнокод по сути, мне стыдно, честно. меня просто вынудили заниматься вёрсткой, это должен был делать не я, но вообще весь сайт лёг на меня */
body{
    background-color: black;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    color : white;
    text-align: left;
    padding-bottom: 5%;

}

/* общее */
a{
    text-decoration: none;
    color: #000000;
}


.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    left: 10%;
}

.header a{
    width : 15vw;
    height : 7vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainImages{
    display: flex;
    justify-content: center;
    align-items: center;  
    transform: scale(0.89);
    margin-left: auto;
    margin-right: auto;
    gap : 2%;
}

.containerDesc{
    display: flex;
    justify-content: center;
    align-items: center; 
    border: #24FF00;
    border-width: 3px;
    border-style: solid;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    text-indent: 0%;
    margin-bottom : 3%;
}

.desc{
    text-align: left;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
}

.hidden{
    visibility: hidden;
}

.t{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    margin-bottom: 20px;
}

/* stalker*/

.stIm{
    padding: 4%;
}

.containerDesc a{
    color: #24FF00;
    text-decoration: underline;
}

/* уникальное */

.middleImage{
    opacity: 0.2;
}

.ds{
    margin-right: 5%;
}

.joinTeam{
    position: absolute;
    text-align: center;
    font-size: 1.8vw;
    top : 75%;
    right: 10%;
    height: auto;
    width: 20%;
    background-color: #24FF00;
}

.astolfo{
    position: absolute;
    font-size: 1.8vw;
    top : 75%;
    right: 10%;
    height: auto;
    width: 20%;
}


.logo{
    width: 14.88%;
}

.btng {
    background-color: #24FF00;
    border: #000000;
    border-width: 1px;
    border-style: solid;
}

.btnw {
    background-color: white;
    border: #000000;
    border-width: 1px;
    border-style: solid; 
}

.greenHUD{
    position: absolute;
    top: 25vw;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}


.joinTeam{
    position: absolute;
    font-size: 1.8vw;
    top : 75%;
    right: 10%;
    height: auto;
    width: 20%;
    background-color: #24FF00;
}

.socNetworks{
    position: absolute;
    top: 89%;             
    right : 10%           
}

.imageLower{
    width: 40%;
    position: absolute;
    top : 110%;
    left : 10%;
}

.imageLower2{
    width: 35%;
    position: absolute;
    top : 170%;
    right : 10%;
}

.containerDescUp{
    top : 70%;
    left: 10%;
    width: 52%;
    position: absolute;
}

.containerDescDown1{
    top : 110%;
    right: 10%;
    width: 35%;
    font-weight: 400;
    position: absolute;
}

.containerDescDown2{
    top : 170%;
    left: 10%;
    width: 40%;
    font-weight: 400;
    position: absolute;
}

.blur{
    opacity: 0.5;
}