@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* upd: пытаюсь исправить это кошмар день 3 */
body{
    background-color: black;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    color : white;
    text-align: left;
    padding-bottom: 2%;
    margin: 0;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

/* общее */
a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    opacity: 0.5;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    left: 10%;
}

.header a{
    width : 15vw;
    height : 7vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainImages{
    display: flex;
    justify-content: center;
    transform: scale(0.89);
    gap : 8%;
}

.containerDesc{
    display: flex;
    justify-content: center;
    align-items: center; 
    border: #24FF00;
    border-width: 3px;
    border-style: solid;
    height: auto;    
    text-indent: 0%;
}

.desc{
    text-align: left;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
}

.hidden{
    visibility: hidden;
}

.t{
    text-align: left;
    margin-bottom: 20px;
}

.imageAndDesc{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* kit-list сюда добавить */



/* stalker*/

.stIm{
    padding: 4%;
}

.containerDesc a{
    color: #24FF00;
    text-decoration: underline;
}

/* единичные элементы */

.middleImage{
    opacity: 0.2;
}

.ds{
    margin-right: 5%;
}

.joinTeam{
    position: absolute;
    text-align: center;
    font-size: 1.8vw;
    top : 75%;
    right: 10%;
    height: auto;
    width: 20%;
    background-color: #24FF00;
}


.logo{
    width: 14.88%;
}

.logo:hover{
    opacity: 0.5;
}

.btng {
    background-color: #24FF00;
    border: #000000;
    border-width: 1px;
    border-style: solid;
}


.btnw {
    background-color: white;
    border: #000000;
    border-width: 1px;
    border-style: solid; 
}


.greenHUD{
    position: absolute;
    top: 25vw;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

.joinTeam{
    font-size: 1.8vw;
    background-color: #24FF00;
}


.socNetworks{
    position: absolute;
    top: 89%;             
    right : 10%           
}

.socNetworks:hover{
    opacity: 0.5;
}

.containerDescUp{
    margin-top: 4%;
    width: 60%;
    position: relative;
}


.blur{
    opacity: 0.5;
}