body{
    font-weight: 400;
    padding-bottom: initial;
}

.header{
    font-weight: 700;
}

.t{
    
    text-align: left;
    padding-top: 10%;
    
    margin-bottom: 20px;

}

.kitListHeader{
    color : #24FF00;
    font-size: 7vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.disclaimer{
    color: #24FF00;
    font-weight: 400;
    font-size: 5vw;
    width: 80%;
    position: relative;
    text-align: left;
    margin-top: 5%;
}

.firstInfo{
    margin-top: 5%;
}

.info{ 
    border: #24FF00;
    border-width: 3px;
    border-style: solid;
    height: auto;
    padding-top: 3%;
}

.infoText{
    font-size: 4vw;
    text-align: left;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
}

.images{
    text-align: center;
    display: table;
    margin: auto;
    padding-bottom: 3%;
    border-spacing: 10px;
    width: 80%;
}
